<h1>{{title}}</h1>
<div class="shelters-info">
  {{#each shelters}}
    <h4><a href="/shelters/{{_id}}">{{this.shelterName}}</a></h4>
    <dl>
      <dt>City</dt>
      <dd>{{this.city}}</dd>
      <dt>State</dt>
      <dd>{{this.state}}</dd>
      <dt>Number of Pets</dt>
      <dd>{{this.numberPets}}</dd>
    </dl>
    <form action="/searchShelter" method="post">
                <label for="shelterSearch">Search Shelter City:</label>
                <input type="search" id="shelterSearch" name="searchShelterCity" placeholder="First or Last name">
                <button class="my-btn" type="submit">Search</button>
            </form>
  {{/each}}
</div>