<ul> 
    {{#each shelters}} 
        <li class="tabClass" ><a href="/shelters/{{this._id}}">{{this.shelterName}}</a></li> 
        <ul> 
            <li>Pets at this shelter have at most {{this.timeKept}} days until they are euthanized</li> 
            <li>There are currently {{this.numberPets}} pets at this shelter</li> 
            {{#if this.pets.length}} 
                <ul> 
                    {{#each this.pets}} 
                        <li>{{this.name}}</li> 
                    {{/each}} 
                </ul> 
            {{/if}} 
        </ul> 
    {{/each}}
</ul>