<h3>{{title}}</h3>
<div id="error" class="error">{{error}}</div>
<form method="post" id="addPet">
    <label id="petNameLabel">
        Name
        <input type="text" id="petName" name="petName" placeholder="Name" value={{name}}>
    </label>
    <label id="birthdayLabel">
        Birthday
        <input type="text" id="birthday" name="birthday" placeholder="Birthday" value={{birthday}}>
    </label>
    <label id="breedLabel">
        Breed
        <input type="text" id="breed" name="breed" placeholder="Breed" value={{breed}}>
    </label>
    <label id="heightLabel">
        Height
        <input type="text" id="height" name="height" placeholder="Height" value={{height}}>
    </label>
    <label id="weightLabel">
        Weight
        <input type="text" id="weight" name="weight" placeholder="Weight" value={{weight}}>
    </label>
    <label id="sexLabel">
        Sex
        <input type="text" id="sex" name="sex" placeholder="Sex" value={{sex}}>
    </label>
    <label id="needsLabel">
        Special Needs
        <input type="text" id="needs" name="needs" placeholder="Needs" value={{needs}}>
    </label>
    <label id="pictureLabel">
        Picture
        <input type="text" id="picture" name="picture" placeholder="Picture" value={{picture}}>
    </label>
    <label id="typeLabel">
        Type
        <input type="text" id="type" name="type" placeholder="Dog/Cat" value={{type}}>
    </label>
    <button type="submit">Add Pet</button>
</form>