<h1>{{title}}</h1>
{{#if user.savedPets.length}}
    <h3>Saved Shelters</h3>
    <ul>
        {{#each user.savedPets}}
            {{#if this.shelterName}}
                <li><a href="/shelters/{{this._id}}">{{this.shelterName}}</a></li>
            {{/if}}
        {{/each}}
    </ul>
{{else}}
    <p>No shelters saved</p>
{{/if}}
{{#if user.savedPets.length}}
    <h3>Saved Pets</h3>
    <ul>
        {{#each user.savedPets}}
            {{#if this.name}}
                <li><a href="/petdetails/{{this._id}}">{{this.name}}</a></li>
            {{/if}}
        {{/each}}
    </ul>
{{else}}
    <p>No pets saved</p>
{{/if}}